@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "leaflet";

html{height:100%;}

body{
  // margin: 0;
  font-family: Montserrat;
  height:100%;
}

#map{

  min-height:100%;
  width:100%;
    margin:0 auto;
    height:100%;
}


img {
  height: 300px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  padding-left: 20px;
}

.arrow{
  position:absolute;
}

#slider-container{
  position:absolute;
  width: 100%;
  padding: 1%;
  bottom: 3%;
  border-radius: 5%;
  background-color: rgba(100,100,100,0.5);


}

.period {
  height: 3px;
  bottom: 5%;
  border-radius: 2%;
  background-color: rgba(100,100,100,0.5);

}

#slider{
  margin-top: 0.5%;
  z-index: 50;
}

.era{

  position: absolute;
  top:0;
  height: 2%;
  height: 5%;
  color:white;
  background-color:black;
  width: 100%;
}

.era li{
  z-index: 0;
  padding-left: 1em;
  height: 2em;
}

#an {
  background-color:rgba(200,100,100,0.5);
}

#ma {
  background-color:rgba(100,200,100,0.5);
}

#tm {
  background-color:rgba(100,100,200,0.5);
}

#ec {
  background-color:rgba(200,100,200,0.5);
}

.row div {
  margin-bottom: 10px;
}
